
.setting-gutter{
    margin: 16px 8px;
    font-size: 14px;
    color: #333;
    label{
        margin-left: 8px;
    }
}

.setting-code{
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 16px;
}