<nz-layout class="layout">
    <nz-header style="position: fixed;left: 0;right: 0;top:0;z-index: 100;background-color: #fff;">
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 50px;">
            <li style="font-size:16px;">
                <i [routerLink]="['/home']" class="anticon anticon-line-chart"
                    style="margin-left: 24px;color: #eee;"></i> <span [routerLink]="['/home']"
                    style="cursor:pointer;color: #fff;margin-left: 4px;">Getech前端监控平台</span>
                <span *ngIf="userName" style="position: absolute;right: 20px;">{{userName}}<span (click)="logout()"
                        style="text-decoration: underline;font-size: 12px;margin-left: 8px;cursor: pointer;">注销</span>
                </span>
            </li>
        </ul>
    </nz-header>
</nz-layout>
<div class="layout">
    <router-outlet></router-outlet>
</div>