<section id="home-section" style="width:100%;height:100vh;margin-top:0;">
    <div style="width: 100%;height:100%;position:absolute;background: #096dd9;z-index:-1;">

    </div>
    <div id="deccription">
        <div class="title">
            Getech前端监控平台
        </div>
        <div class="desc">
            日活跃、用户行为记录、访问日志、JS错误日志、API请求详情、访问性能评估，开发者必须关心的各种运营数据
        </div>
        <div class="opt" *ngIf="isLogin">
            <button [routerLink]="[ '/dashboard' ]">前往监控中心</button>
        </div>
        <div class="opt" *ngIf="!isLogin">
            <button [routerLink]="[ '/dashboard' ]">游客体验</button> &nbsp;
            <button (click)="isVisible_login=true;">账号登录</button>
        </div>
    </div>
</section>

<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
    <ng-template #tpl>
        <div style="height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        background-color: #1088e9;
        color: #fff;
        text-align: center;
        font-size: 20px;" class="ant-back-top-inner">UP</div>
    </ng-template>
</nz-back-top>
<nz-modal [nzMaskClosable]="false" [nzOkText]="'确认'" [nzCancelText]="'取消'" [(nzVisible)]="isVisible_login" nzTitle="登录"
    (nzOnOk)="login()" (nzOnCancel)="isVisible_login=false;">
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">邮箱</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input [(ngModel)]="model.email" name="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">密码</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input type="password" [(ngModel)]="model.password" name="password">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-bottom:0;">
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;width:90%;">
            <span>没有账户?</span><span appMonitorABlank (click)="isVisible_login=false;isVisible_register=true;"
                style="margin-left: 24px;text-decoration: underline;cursor: pointer;">马上注册</span>
        </nz-form-control>
    </nz-form-item>
</nz-modal>
 
<nz-modal [nzMaskClosable]="false" [nzOkText]="'确认'" [nzCancelText]="'取消'" [(nzVisible)]="isVisible_register" nzTitle="注册" (nzOnOk)="register()" (nzOnCancel)="isVisible_register=false;">
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">邮箱</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input [(ngModel)]="model2.email" name="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">密码</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input type="password" [(ngModel)]="model2.password" name="password">
        </nz-form-control>
    </nz-form-item>
</nz-modal>   